<a href="https://colab.research.google.com/github/AustinKarki/75-Days-of-Coding-Challenge/blob/main/JobPosting_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

df=pd.read_csv("/content/drive/MyDrive/Techaxis/jobstreet_all_job_dataset.csv")
df

,job_id,job_title,company,descriptions,location,category,subcategory,role,type,salary,listingDate
0,74630583.0,Procurement Executive (Contract),Coca-Cola Bottlers (Malaysia) Sdn Bhd,Position Purpose\nManage aspects of procuremen...,Negeri Sembilan,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",procurement-executive,Contract/Temp,NaN,2024-03-21T05:58:35Z
1,74660602.0,Account Executive/ Assistant,Acoustic & Lighting System Sdn Bhd,We are looking for a Account Executive/ Assist...,Petaling,Accounting,Bookkeeping & Small Practice Accounting,executive-assistant,Full time,"RM 2,800 – RM 3,200 per month",2024-03-22T06:52:57Z
2,74655679.0,"Data Analyst - Asset Management, SPX Express",Shopee Mobile Malaysia Sdn Bhd,Performs detailed data analysis on existing sp...,Klang District,"Manufacturing, Transport & Logistics",Analysis & Reporting,asset-management-analyst,Full time,NaN,2024-03-22T04:22:43Z
3,74657624.0,Service Engineer,Sun Medical Systems Sdn Bhd,"You are important for troubleshooting, install...",Petaling,Engineering,Electrical/Electronic Engineering,services-engineer,Full time,"RM 3,000 – RM 3,500 per month",2024-03-22T05:32:09Z
4,74679363.0,Purchasing Executive,Magnet Security & Automation Sdn. Bhd.,"MAG is a trailblazer in the industry, boasting...",Hulu Langat,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",purchasing-executive,Full time,"RM 2,800 – RM 3,500 per month",2024-03-23T03:56:39Z
...,...,...,...,...,...,...,...,...,...,...,...
59301,76653277.0,"Marketing Specialist, APAC",Glory Global Solutions (M),MAIN RESPONSIBILITIES\nSupport the Asia Pacifi...,Kuala Lumpur,Marketing & Communications,Marketing Communications,marketing-specialist,Full time,"RM 4,000 – RM 6,000 per month",2024-06-18T06:45:54Z
59302,76674488.0,Talent Acquisition Partner,PERSOLKELLY Workforce Solutions Malaysia Sdn Bhd,Job Descriptions:\nPartner closely with HRBPs ...,Kuala Lumpur,Human Resources & Recruitment,Recruitment - Internal,talent-acquisition-partner,Contract/Temp,"RM 4,000 – RM 5,000 per month",2024-06-19T03:37:54Z
59303,76658887.0,Motor Insurance Executive,MRMC Consultants Sdn Bhd,Objective:\nHighly motivated and customer-focu...,Kuala Lumpur,Insurance & Superannuation,Brokerage,Motor-Insurance-Executive,Full time,"RM 2,500 – RM 3,500 per month",2024-06-18T10:15:07Z
59304,76653289.0,Banca Specialist (Klang Valley),AmBank Group,Job Descriptions:\nDelivers sales target for b...,Kuala Lumpur,Banking & Financial Services,Banking - Retail/Branch,specialist,Full time,NaN,2024-06-18T06:46:18Z
59305,76643160.0,Software Engineer,Juris Technologies Sdn Bhd,Join the fastest growing fintech solutions com...,Kuala Lumpur,Information & Communication Technology,Developers/Programmers,software-engineer,Full time,NaN,2024-06-18T02:02:42Z

In [ ]:
df.shape

(59306, 11)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59306 entries, 0 to 59305
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_id        59306 non-null  float64
 1   job_title     59306 non-null  object
 2   company       59306 non-null  object
 3   descriptions  59306 non-null  object
 4   location      59306 non-null  object
 5   category      59306 non-null  object
 6   subcategory   59306 non-null  object
 7   role          57370 non-null  object
 8   type          59306 non-null  object
 9   salary        26641 non-null  object
 10  listingDate   59306 non-null  object
dtypes: float64(1), object(10)
memory usage: 5.0+ MB

In [ ]:
df.describe()

             job_id
count  5.930600e+04
mean   7.497790e+07
std    9.319422e+05
min    7.134223e+07
25%    7.433293e+07
50%    7.478895e+07
75%    7.572671e+07
max    7.669411e+07

In [ ]:
df.head(5)

,job_id,job_title,company,descriptions,location,category,subcategory,role,type,salary,listingDate
0,74630583.0,Procurement Executive (Contract),Coca-Cola Bottlers (Malaysia) Sdn Bhd,Position Purpose\nManage aspects of procuremen...,Negeri Sembilan,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",procurement-executive,Contract/Temp,NaN,2024-03-21T05:58:35Z
1,74660602.0,Account Executive/ Assistant,Acoustic & Lighting System Sdn Bhd,We are looking for a Account Executive/ Assist...,Petaling,Accounting,Bookkeeping & Small Practice Accounting,executive-assistant,Full time,"RM 2,800 – RM 3,200 per month",2024-03-22T06:52:57Z
2,74655679.0,"Data Analyst - Asset Management, SPX Express",Shopee Mobile Malaysia Sdn Bhd,Performs detailed data analysis on existing sp...,Klang District,"Manufacturing, Transport & Logistics",Analysis & Reporting,asset-management-analyst,Full time,NaN,2024-03-22T04:22:43Z
3,74657624.0,Service Engineer,Sun Medical Systems Sdn Bhd,"You are important for troubleshooting, install...",Petaling,Engineering,Electrical/Electronic Engineering,services-engineer,Full time,"RM 3,000 – RM 3,500 per month",2024-03-22T05:32:09Z
4,74679363.0,Purchasing Executive,Magnet Security & Automation Sdn. Bhd.,"MAG is a trailblazer in the industry, boasting...",Hulu Langat,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",purchasing-executive,Full time,"RM 2,800 – RM 3,500 per month",2024-03-23T03:56:39Z

In [ ]:
df.tail(5)

,job_id,job_title,company,descriptions,location,category,subcategory,role,type,salary,listingDate
59301,76653277.0,"Marketing Specialist, APAC",Glory Global Solutions (M),MAIN RESPONSIBILITIES\nSupport the Asia Pacifi...,Kuala Lumpur,Marketing & Communications,Marketing Communications,marketing-specialist,Full time,"RM 4,000 – RM 6,000 per month",2024-06-18T06:45:54Z
59302,76674488.0,Talent Acquisition Partner,PERSOLKELLY Workforce Solutions Malaysia Sdn Bhd,Job Descriptions:\nPartner closely with HRBPs ...,Kuala Lumpur,Human Resources & Recruitment,Recruitment - Internal,talent-acquisition-partner,Contract/Temp,"RM 4,000 – RM 5,000 per month",2024-06-19T03:37:54Z
59303,76658887.0,Motor Insurance Executive,MRMC Consultants Sdn Bhd,Objective:\nHighly motivated and customer-focu...,Kuala Lumpur,Insurance & Superannuation,Brokerage,Motor-Insurance-Executive,Full time,"RM 2,500 – RM 3,500 per month",2024-06-18T10:15:07Z
59304,76653289.0,Banca Specialist (Klang Valley),AmBank Group,Job Descriptions:\nDelivers sales target for b...,Kuala Lumpur,Banking & Financial Services,Banking - Retail/Branch,specialist,Full time,NaN,2024-06-18T06:46:18Z
59305,76643160.0,Software Engineer,Juris Technologies Sdn Bhd,Join the fastest growing fintech solutions com...,Kuala Lumpur,Information & Communication Technology,Developers/Programmers,software-engineer,Full time,NaN,2024-06-18T02:02:42Z

In [ ]:
df.sample(5)

,job_id,job_title,company,descriptions,location,category,subcategory,role,type,salary,listingDate
24613,74339990.0,Senior Associate - HR Operations (Payroll),DHL Asia Pacific Shared Services Sdn Bhd,Description\nOverall Role Purpose\nProvides da...,Petaling,Accounting,Payroll,senior-associate,Full time,NaN,2024-03-08T21:25:00Z
6880,74356193.0,Electrical Engineer,Sphere Corporation Sdn Bhd,Sphere Corporation Sdn Bhd\nRole: Electrical E...,Klang District,Engineering,Electrical/Electronic Engineering,electrical-engineer,Full time,NaN,2024-03-11T03:17:03Z
25942,74204137.0,Project Engineer,Energia Power Sdn Bhd,Description\nJOB DESCRIPTION:\nProject Plannin...,Petaling,Engineering,Electrical/Electronic Engineering,project-engineer,Full time,NaN,2024-03-04T19:09:00Z
25352,74277203.0,MAINTENANCE MECHANICAL SPECIALIST,ETONE GEOTECHNICAL (MALAYSIA) SDN BHD,"Description\n- Assembling, installing, and mai...",Kuala Lumpur,Engineering,Mechanical Engineering,mechanical-specialist,Contract/Temp,NaN,2024-03-06T16:48:00Z
52886,76446589.0,Manager (Digitalization),DEWAN FILHARMONIK PETRONAS,"Job Purpose:\nThe Manager, Digitalization is p...",Kuala Lumpur City Centre,Marketing & Communications,Digital & Search Marketing,manager,Contract/Temp,NaN,2024-06-07T07:59:39Z

In [ ]:
df.isnull().sum()

job_id              0
job_title           0
company             0
descriptions        0
location            0
category            0
subcategory         0
role             1936
type                0
salary          32665
listingDate         0
dtype: int64

In [ ]:
new=df.dropna()
new

,job_id,job_title,company,descriptions,location,category,subcategory,role,type,salary,listingDate
1,74660602.0,Account Executive/ Assistant,Acoustic & Lighting System Sdn Bhd,We are looking for a Account Executive/ Assist...,Petaling,Accounting,Bookkeeping & Small Practice Accounting,executive-assistant,Full time,"RM 2,800 – RM 3,200 per month",2024-03-22T06:52:57Z
3,74657624.0,Service Engineer,Sun Medical Systems Sdn Bhd,"You are important for troubleshooting, install...",Petaling,Engineering,Electrical/Electronic Engineering,services-engineer,Full time,"RM 3,000 – RM 3,500 per month",2024-03-22T05:32:09Z
4,74679363.0,Purchasing Executive,Magnet Security & Automation Sdn. Bhd.,"MAG is a trailblazer in the industry, boasting...",Hulu Langat,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",purchasing-executive,Full time,"RM 2,800 – RM 3,500 per month",2024-03-23T03:56:39Z
6,74677110.0,Accounts Executive,GENETEC TECHNOLOGY BERHAD,To assist in overall acounting functions for t...,Kajang/Bangi/Serdang,Accounting,Financial Accounting & Reporting,accounts-executive,Full time,"RM 3,000 – RM 4,500 per month",2024-03-23T00:22:28Z
9,74602737.0,Admin Assistant,Lein Hing Holdings Sdn Bhd,RESPONSIBILITIES:\nManager paperwork for Claim...,Kuala Lumpur,Administration & Office Support,Administrative Assistants,administration-officer,Full time,"RM 2,000 – RM 3,000 per month",2024-03-20T09:14:23Z
...,...,...,...,...,...,...,...,...,...,...,...
59297,76567802.0,"Marketing Executive, Cruises",TRAVELC INTERNATIONAL SDN. BHD.,We are seeking a highly motivated and proactiv...,Petaling,Marketing & Communications,Marketing Communications,marketing-executive,Full time,"RM 4,000 – RM 4,500 per month",2024-06-18T06:43:44Z
59300,76659690.0,Hotel Manager,Pinnacle Suites Management Sdn Bhd,Operational Management:\nOversee all aspects o...,Seremban District,Hospitality & Tourism,Management,hotel-manager,Full time,"RM 4,500 – RM 5,000 per month",2024-06-18T10:28:12Z
59301,76653277.0,"Marketing Specialist, APAC",Glory Global Solutions (M),MAIN RESPONSIBILITIES\nSupport the Asia Pacifi...,Kuala Lumpur,Marketing & Communications,Marketing Communications,marketing-specialist,Full time,"RM 4,000 – RM 6,000 per month",2024-06-18T06:45:54Z
59302,76674488.0,Talent Acquisition Partner,PERSOLKELLY Workforce Solutions Malaysia Sdn Bhd,Job Descriptions:\nPartner closely with HRBPs ...,Kuala Lumpur,Human Resources & Recruitment,Recruitment - Internal,talent-acquisition-partner,Contract/Temp,"RM 4,000 – RM 5,000 per month",2024-06-19T03:37:54Z
59303,76658887.0,Motor Insurance Executive,MRMC Consultants Sdn Bhd,Objective:\nHighly motivated and customer-focu...,Kuala Lumpur,Insurance & Superannuation,Brokerage,Motor-Insurance-Executive,Full time,"RM 2,500 – RM 3,500 per month",2024-06-18T10:15:07Z

In [ ]:
company=new.groupby(['company',"job_title"])
company_role=company["role"].value_counts()
company_role

company                         job_title                                       role
"K" LINE LOGISTICS (M) SDN BHD  LOGISTICS EXECUTIVE                             logistics-executive        1
                                Ocean Operations Executive                      operations-executive       2
(M) Trinitygroup sdn bhd        Sales Executive(RM3000-RM8000 Basic+Commisson)  sales-executive            1
-                               Personal Assistant                              personal-assistant         1
.                               MEDICAL SALES EXECUTIVE                         Medical-Sales-Executive    1
                                                                                                          ..
安达可文化传播（上海）有限公司                 Administrator (Full Time-Work From Home)        administration-officer     1
帆软软件有限公司                        Sales Engineer (Kuala Lumpur)                   sales-engineer             1
广东高义包装科技股份有限公司                  project manager(Printing and packaging ）        project-manager            1
蘇州萬麗織造有限公司                      General Manager                                 general-manager            3
黎明幼儿园                           行政助理 Adminstrative Assistant                    administration-officer     1
Name: count, Length: 23288, dtype: int64

In [ ]:
job_role=new.groupby(["job_title"])["role"].value_counts()
job_role

job_title                                                                  role
(FeDEX) CUSTOMER EXPERIENCE SPECIALIST (IMMEDIATE HIRING)                  customer-experience-specialist         1
(Form 1-3 华语, B.Melayu, English) Academics Coach 课业教练 / Tuition Teacher老师  Tuition-Teacher                        1
(INTERNSHIP) Project Management and Business Development Intern            business-development                   1
(Internship) Marketing Executive                                           marketing-executive                    1
(Internship) Software Developer                                            software-developer                     1
                                                                                                                 ..
餐厅副经理 Restaurant Assistant Manager                                         restaurant-manager                     2
高级维修技术员MAINTENANCE SENIOR TECHNICIAN                                       maintenance-technician                 1
高级设备工程师MAINTENANCE SENIOR TECHNICIAN                                       maintenance-technician                 1
📞 Customer Service Representative - Taiwan Market 🇹🇼                       customer-service-representative-csr    1
📞 Customer Service Specialist - Mandarin Speaker 📞                         customer-service-specialist            1
Name: count, Length: 14761, dtype: int64

In [ ]:
company_role=new.groupby(["company"])["role"].value_counts()
company_role

company                         role
"K" LINE LOGISTICS (M) SDN BHD  operations-executive       2
                                logistics-executive        1
(M) Trinitygroup sdn bhd        sales-executive            1
-                               personal-assistant         1
.                               Medical-Sales-Executive    1
                                                          ..
安达可文化传播（上海）有限公司                 administration-officer     1
帆软软件有限公司                        sales-engineer             1
广东高义包装科技股份有限公司                  project-manager            1
蘇州萬麗織造有限公司                      general-manager            3
黎明幼儿园                           administration-officer     1
Name: count, Length: 21519, dtype: int64

In [ ]:
com=new["company"].value_counts()
com

company
Private Advertiser                                  1027
AGENSI PEKERJAAN JS STAFFING SERVICES SDN BHD        218
Agensi Pekerjaan PERSOLKELLY Malaysia Sdn Bhd        199
Michael Page International (Malaysia) Sdn Bhd        190
PERSOLKELLY Workforce Solutions Malaysia Sdn Bhd     142
                                                    ...
VLEE RENOVATION & CONSTRUCTION SDN. BHD.               1
Searix Solutions International Pte. Ltd.               1
ICON PACKAGING SDN BHD                                 1
InsureSmart                                            1
MRMC Consultants Sdn Bhd                               1
Name: count, Length: 10769, dtype: int64

In [ ]:
job_loc=new.groupby(["location"])["job_title"].value_counts()
job_loc

location         job_title
Alam Damai       Account Assistant                        1
                 Assistant Marketing Manager              1
                 Executive Assistant                      1
                 Marketing Executive                      1
                 PA Cum Sales                             1
                                                         ..
Wangsa Maju      F&B Operation Executive                  1
                 Inside Tele sales specialist             1
                 Marketing Executive (Yayasan Nurjiwa)    1
                 Personal Assistant Cum Account           1
Wangsa Melawati  Accounts Executive                       1
Name: count, Length: 19651, dtype: int64

In [ ]:
job_type=new.groupby(["type", "location"])["job_title"].value_counts()
job_type

type             location           job_title
Casual/Vacation  Bandar Malaysia    CRM/ ERP developer                                                                  1
                 Johor              Banking Sales Executive (Urgent Hiring I Basic up to 4k I Fresh Grad welcome) P7    1
                 Kuala Lumpur       Internship for Financial Representative                                             2
                                    Beauty Advisor (Skincare)                                                           1
                                    Finance Intern                                                                      1
                                                                                                                       ..
Part time        Seremban District  Customer Service cum Admin Assistant                                                1
                                    International English Teacher(Summer camp 2024)                                     1
                 Shah Alam/Subang   Filling Assistant                                                                   1
                 Sibu Division      School/Learning Center Admin                                                        1
                 Tampin District    LIVE HOST                                                                           1
Name: count, Length: 19785, dtype: int64

In [ ]:
# pd.set_option('display.max_rows', None)  #max row
pd.reset_option('display.max_rows')

new["salary"].value_counts()

salary
RM 3,000 – RM 4,500 per month    1467
RM 3,500 – RM 5,000 per month    1220
RM 4,000 – RM 6,000 per month    1219
RM 2,500 – RM 3,500 per month    1070
RM 3,000 – RM 4,000 per month     996
                                 ...
$6k - $12k p.m.                     1
Competitive Salary                  1
RM6k - RM10k                        1
$1,800 – $2,700 per month           1
RM 18000 - RM 20000                 1
Name: count, Length: 1825, dtype: int64

In [ ]:
new["listingDate"].unique()

array(['2024-03-22T06:52:57Z', '2024-03-22T05:32:09Z',
       '2024-03-23T03:56:39Z', ..., '2024-06-18T06:45:54Z',
       '2024-06-19T03:37:54Z', '2024-06-18T10:15:07Z'], dtype=object)

In [ ]:
start='2024-03-21'
end= '2024-08-21'

new[new['listingDate'].between(start,end)]

,job_id,job_title,company,descriptions,location,category,subcategory,role,type,salary,listingDate
1,74660602.0,Account Executive/ Assistant,Acoustic & Lighting System Sdn Bhd,We are looking for a Account Executive/ Assist...,Petaling,Accounting,Bookkeeping & Small Practice Accounting,executive-assistant,Full time,"RM 2,800 – RM 3,200 per month",2024-03-22T06:52:57Z
3,74657624.0,Service Engineer,Sun Medical Systems Sdn Bhd,"You are important for troubleshooting, install...",Petaling,Engineering,Electrical/Electronic Engineering,services-engineer,Full time,"RM 3,000 – RM 3,500 per month",2024-03-22T05:32:09Z
4,74679363.0,Purchasing Executive,Magnet Security & Automation Sdn. Bhd.,"MAG is a trailblazer in the industry, boasting...",Hulu Langat,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",purchasing-executive,Full time,"RM 2,800 – RM 3,500 per month",2024-03-23T03:56:39Z
6,74677110.0,Accounts Executive,GENETEC TECHNOLOGY BERHAD,To assist in overall acounting functions for t...,Kajang/Bangi/Serdang,Accounting,Financial Accounting & Reporting,accounts-executive,Full time,"RM 3,000 – RM 4,500 per month",2024-03-23T00:22:28Z
10,74677668.0,Clerical Assistant (Educational Centre),AGENSI PEKERJAAN JS STAFFING SERVICES SDN BHD,"Educational Centre\nEstablished since 2019, to...",Bangsar South,Administration & Office Support,Administrative Assistants,clerical-assistant,Full time,"RM 3,000 – RM 3,200 per month",2024-03-23T01:36:35Z
...,...,...,...,...,...,...,...,...,...,...,...
59297,76567802.0,"Marketing Executive, Cruises",TRAVELC INTERNATIONAL SDN. BHD.,We are seeking a highly motivated and proactiv...,Petaling,Marketing & Communications,Marketing Communications,marketing-executive,Full time,"RM 4,000 – RM 4,500 per month",2024-06-18T06:43:44Z
59300,76659690.0,Hotel Manager,Pinnacle Suites Management Sdn Bhd,Operational Management:\nOversee all aspects o...,Seremban District,Hospitality & Tourism,Management,hotel-manager,Full time,"RM 4,500 – RM 5,000 per month",2024-06-18T10:28:12Z
59301,76653277.0,"Marketing Specialist, APAC",Glory Global Solutions (M),MAIN RESPONSIBILITIES\nSupport the Asia Pacifi...,Kuala Lumpur,Marketing & Communications,Marketing Communications,marketing-specialist,Full time,"RM 4,000 – RM 6,000 per month",2024-06-18T06:45:54Z
59302,76674488.0,Talent Acquisition Partner,PERSOLKELLY Workforce Solutions Malaysia Sdn Bhd,Job Descriptions:\nPartner closely with HRBPs ...,Kuala Lumpur,Human Resources & Recruitment,Recruitment - Internal,talent-acquisition-partner,Contract/Temp,"RM 4,000 – RM 5,000 per month",2024-06-19T03:37:54Z
59303,76658887.0,Motor Insurance Executive,MRMC Consultants Sdn Bhd,Objective:\nHighly motivated and customer-focu...,Kuala Lumpur,Insurance & Superannuation,Brokerage,Motor-Insurance-Executive,Full time,"RM 2,500 – RM 3,500 per month",2024-06-18T10:15:07Z

In [ ]:
job_cate=new.groupby(["category"])["job_title"].value_counts()
job_cate

category           job_title
Accounting         Account Executive                           399
                   Accounts Executive                          266
                   Account Assistant                           146
                   Finance Executive                           120
                   ACCOUNT EXECUTIVE                           107
                                                              ...
Trades & Services  [Senior/Junior] Air Cond Technician           1
                   project manager(Printing and packaging ）      1
                   service technician                            1
                   聘请冷气技术人员 AIR COND SERVICE TECHNICIAN          1
                   高级设备工程师MAINTENANCE SENIOR TECHNICIAN          1
Name: count, Length: 15491, dtype: int64

In [ ]:
job_cate_df = job_cate.reset_index()
merged_df = job_cate_df.merge(new, on=["category", "job_title"], how="left")
final_df = merged_df[["location", "category", "subcategory", "role", "type", "salary", "count"]]
final_df

,location,category,subcategory,role,type,salary,count
0,Klang District,Accounting,Bookkeeping & Small Practice Accounting,account-executive,Full time,"RM 3,800 – RM 4,200 per month",399
1,Hulu Langat,Accounting,Bookkeeping & Small Practice Accounting,account-executive,Full time,"RM 3,000 – RM 4,500 per month",399
2,Hulu Langat,Accounting,Bookkeeping & Small Practice Accounting,account-executive,Full time,"RM 2,000 – RM 2,500 per month",399
3,Selangor,Accounting,Bookkeeping & Small Practice Accounting,account-executive,Full time,"RM 3,000 – RM 4,200 per month",399
4,Kuala Lumpur,Accounting,Accounts Receivable/Credit Control,account-executive,Contract/Temp,"RM 3,500 – RM 4,000 per month",399
...,...,...,...,...,...,...,...
25988,Kajang/Bangi/Serdang,Trades & Services,Air Conditioning & Refrigeration,air-conditioning-technician,Full time,"RM 2,000 – RM 3,000 per month",1
25989,Johor Bahru District,Trades & Services,Printing & Publishing Services,project-manager,Full time,"RM 9,000 – RM 13,000 per month",1
25990,Kuala Lumpur,Trades & Services,Technicians,service-technician,Full time,"RM 3,000 – RM 4,500 per month",1
25991,Selangor,Trades & Services,Air Conditioning & Refrigeration,service-technician,Full time,"RM 2,500 – RM 3,750 per month",1
25992,Kuala Selangor District,Trades & Services,Technicians,maintenance-technician,Full time,"RM 5,000 – RM 6,000 per month",1