<a href="https://colab.research.google.com/github/AustinKarki/75-Days-of-Coding-Challenge/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Tuple ()
# Set {}

In [ ]:
# product
# category
# price
[{"name":"ram",'age':32},{"name":"hari",'age':66}]

{"name":["ram","hari"],"age":[32,66]}

product=([],)
category=([],)
price=([],)
a=int(input("Enter how many product you want to add: "))
for i in range(a):
    name=input("Enter product name: ")
    categoryy=input("Enter product category: ")
    pricee=int(input("Enter product price: "))
    product[0].append(name)
    category[0].append(categoryy)
    price[0].append(pricee)
products=set(product[0])
categories=set(category[0])
prices=set(price[0])
a=list(products)
b=list(categories)
c=list(prices)
print(a)
print(b)
print(c)
aa=dict()
for i in range(len(a)):
    aa[f"{a[i]}"]=[b[i],c[i]] ## product :[Category , price]
print(aa)

Enter how many product you want to add: 2
Enter product name: apple
Enter product category: dde
Enter product price: 455
Enter product name: ede
Enter product category: rr
Enter product price: 555
['apple', 'ede']
['dde', 'rr']
[555, 455]
{'apple': ['dde', 555], 'ede': ['rr', 455]}

In [ ]:
product1=('apple',16,'fruits')
product2=('mango',20,'fruits')
product3=('cabbage',56,'vegetable')
product4=('apple',16,'fruits')

product=[product1,product2,product3,product4]

for i in product:
  product
pro=set(product)
# print(pro)
pp=list(pro)
# print(pp)
a=dict()
b=dict()
for i in pp:
  name,price,category=i
  a[name]=[price,category]
  b[name]={'price':price, "category":category}
print(a)
print(b)

{'mango': [20, 'fruits'], 'apple': [16, 'fruits'], 'cabbage': [56, 'vegetable']}
{'mango': {'price': 20, 'category': 'fruits'}, 'apple': {'price': 16, 'category': 'fruits'}, 'cabbage': {'price': 56, 'category': 'vegetable'}}

In [ ]:
print('Managing Student Records in a School')
print('--------------------------------------')
student1=("ram",20,"A grade","Science")
student2 = ("shyam", 22, "B grade", "Commerce")
student3 = ("sita", 19, "A+ grade", "Arts")
student4 = ("gita", 21, "C grade", "Science")
student5 = ("hari", 20, "B grade", "Engineering")
print(student1)
print(student2)
print(student3)
print(student4)
print(student5)

grades = {student1[2], student2[2], student3[2], student4[2], student5[2]}
print(grades)

student_list=[student1 ,student2 ,student3 ,student4 ,student5]
print(student_list)
student=dict()
for i in student_list:
  name,age,grade,subject=i
  student[name]=[age,grade,subject]
print(student)

for i in student:
  print(i,[student[i][0],student[i][2]])
ages=[]
ooo=0
for i in student:
  ages.append(student[i][0])
  ooo+=student[i][0]
print(ages)

# aa=sum(ages)//len(ages)
# print(f"The average age of the student is {aa}.")

aaa= ooo // len(ages)
print(f"The average age of the student is {aaa}.")

print(student)
for i in student:
  if student[i][2]=="Science":
    print(i)
grade1=0
grade2=0
grade3=0
grade4=0

q=[]
w=[]
e=[]
r=[]
applee=input("Enter list of student of wich grade you want: ")
for i in student:
  if student[i][1]=="A grade":
    grade1+=1
    q.append(i)
  elif student[i][1]=="B grade":
    grade2+=1
    w.append(i)
  elif student[i][1]=="A+ grade":
    grade3+=1
    e.append(i)
  elif student[i][1]=="C grade":
    grade4+=1
    r.append(i)
  else:
    print("invalid")
if applee=="A grade":
  print(f"The total student in A Grade is {grade1}")
  print("List of Students:")
  print(q)
elif applee=="B grade":
  print(f"The total student in B Grade is {grade2}")
  print("List of Students:")
  print(w)
elif applee=="A+ grade":
  print(f"The total student in A+ Grade is {grade3}")
  print("List of Students:")
  print(e)
elif applee=="C grade":
  print(f"The total student in C Grade is {grade4}")
  print("List of Students:")
  print(r)
else:
  print("invalid")

Managing Student Records in a School
--------------------------------------
('ram', 20, 'A grade', 'Science')
('shyam', 22, 'B grade', 'Commerce')
('sita', 19, 'A+ grade', 'Arts')
('gita', 21, 'C grade', 'Science')
('hari', 20, 'B grade', 'Engineering')
{'A grade', 'A+ grade', 'B grade', 'C grade'}
[('ram', 20, 'A grade', 'Science'), ('shyam', 22, 'B grade', 'Commerce'), ('sita', 19, 'A+ grade', 'Arts'), ('gita', 21, 'C grade', 'Science'), ('hari', 20, 'B grade', 'Engineering')]
{'ram': [20, 'A grade', 'Science'], 'shyam': [22, 'B grade', 'Commerce'], 'sita': [19, 'A+ grade', 'Arts'], 'gita': [21, 'C grade', 'Science'], 'hari': [20, 'B grade', 'Engineering']}
ram [20, 'Science']
shyam [22, 'Commerce']
sita [19, 'Arts']
gita [21, 'Science']
hari [20, 'Engineering']
[20, 22, 19, 21, 20]
The average age of the student is 20.
{'ram': [20, 'A grade', 'Science'], 'shyam': [22, 'B grade', 'Commerce'], 'sita': [19, 'A+ grade', 'Arts'], 'gita': [21, 'C grade', 'Science'], 'hari': [20, 'B grade', 'Engineering']}
ram
gita

In [ ]:
print(student)

{'ram': [20, 'A grade', 'Science'], 'shyam': [22, 'B grade', 'Commerce'], 'sita': [19, 'A+ grade', 'Arts'], 'gita': [21, 'C grade', 'Science'], 'hari': [20, 'B grade', 'Engineering']}

In [ ]:
abcc=[]
for i in student:
  abcc.append(student[i][2])
abcc
ppp=set(abcc)
listt=[]
for i in ppp:
  listt.append(i)
listt

['Commerce', 'Science', 'Engineering', 'Arts']

In [ ]:
student
update=input("Enter student name")
subject=input("Enter subject you want to change to: ")
found= False
for i in student:
  if i ==update:
    student[i][2]=subject
    found=True
    break
  if not found:
    print("student not found")
print(student)

Enter student nameram
Enter subject you want to change to: nepali
{'ram': [20, 'A grade', 'nepali'], 'shyam': [22, 'B grade', 'Commerce'], 'sita': [19, 'A+ grade', 'Arts'], 'gita': [21, 'C grade', 'Science'], 'hari': [20, 'B grade', 'Engineering']}